{% assign url_lang = page.url | split: "/" %}
{% assign lang = url_lang[1] %}
{% if lang == "ru" %}
    {% assign url = page.url | replace_first: "/ru", "" %}
    {% assign top = "/ru" %}
    {% assign toc = site.data.toc_ru.toc %}
    {% assign course_title = site.data.toc_ru.title %}
    {% assign strings = site.data.strings_ru %}
{% else %}
    {% assign lang = "" %}
    {% assign url = page.url %}
    {% assign top = "" %}
    {% assign toc = site.data.toc.toc %}
    {% assign course_title = site.data.toc.title %}
    {% assign strings = site.data.strings %}
{% endif %}
