{% assign urlparts = page.url | remove_first: "/" | split: "/" %}
{% assign L1 = urlparts[0] | default '' %}
{% assign L2 = urlparts[1] | default '' %}
{% assign L3 = urlparts[2] | default '' %}
{% assign L4 = urlparts[3] | default '' %}
{% assign L5 = urlparts[4] | default '' %}

{% assign course_title = site.data.toc.title %}
{% assign levels = urlparts.size %}

{% comment %}
URL levels: {{ levels }} 

 L1         L2               L3
/essentials/running-programs/from-ide/
 ^ part     ^ section        ^ topic
  | subpart is not part of an URL
{% endcomment %}

{% assign toc = site.data.toc.toc %}

{% assign part_counter = 0 %}
{% for part in toc %}
    {% if part.url == L1 %}
        {% assign curr_part_n = part_counter %}

        {% assign subpart_counter = 0 %}
        {% for subpart in part.items %}
            {% assign section_counter = 0 %}
            {% for section in subpart.items %}
                {% if section.url == L2 %}
                    {% assign curr_subpart_n = subpart_counter %}
                    {% assign curr_section_n = section_counter %}

                    {% assign topic_counter = 0 %}
                    {% for topic in section.items %}
                        {% if topic.url == L3 %}
                            {% assign curr_topic_n = topic_counter %}
                        {% endif %}

                        {% assign quiz_counter = 0 %}
                        {% for quiz in topic.quizzes %}
                            {% if quiz.url == L4 %}
                                {% assign curr_topic_quiz_n = quiz_counter %}                                
                                {% break %}
                            {% endif %}
                            {% assign quiz_counter = quiz_counter | plus: 1 %}
                        {% endfor %}
                        {% assign topic_counter = topic_counter | plus: 1 %}                        
                    {% endfor %}

                    {% assign quiz_counter = 0 %}
                    {% for quiz in section.quizzes %}
                        {% if quiz.url == L3 %}
                            {% assign curr_section_quiz_n = quiz_counter %}                            
                            {% break %}
                        {% endif %}
                        {% assign quiz_counter = quiz_counter | plus: 1 %}
                    {% endfor %}

                    {% assign exercise_counter = 0 %}
                    {% if L3 == 'exercises' %}
                        {% for exercise in section.exercises %}
                            {% if exercise.url == L4 %}
                                {% assign curr_exercise_n = exercise_counter %}
                                {% break %}
                            {% endif %}
                            {% assign exercise_counter = exercise_counter | plus: 1 %}
                        {% endfor %}
                    {% endif %}

                    {% break %}
                {% endif %}

                {% assign section_counter = section_counter | plus: 1 %}
            {% endfor %}

           {% assign subpart_counter = subpart_counter | plus: 1 %}
        {% endfor %}

        {% break %}
    {% endif %}

    {% assign part_counter = part_counter | plus: 1 %}
{% endfor %}

{% assign curr_part = toc[curr_part_n] %}
{% assign curr_subpart = curr_part.items[curr_subpart_n] %}
{% assign curr_section = curr_subpart.items[curr_section_n] %}
{% assign curr_topic = curr_section.items[curr_topic_n] %}

{% assign curr_section_quiz = curr_section.quizzes[curr_section_quiz_n] %}
{% assign curr_topic_quiz = curr_topic.quizzes[curr_topic_quiz_n] %}
{% assign curr_exercise = curr_section.exercises[curr_exercise_n] %}

{% capture title %}
{%- if L5 == 'solution' %}{% assign page_type = 'solution' %}Solution: {{curr_exercise.title}}
{%- elsif L3 == 'exercises' and curr_exercise == nil %}{% assign page_type = 'exercises' %}Exercises: {{curr_section.title %}}
{%- elsif curr_exercise %}{% assign page_type = 'exercise' %}{{curr_exercise.title}}
{%- elsif curr_topic_quiz %}{% assign page_type = 'topic_quiz' %}{{curr_topic_quiz.title}}
{%- elsif curr_section_quiz %}{% assign page_type = 'section_quiz' %}{{curr_section_quiz.title}}
{%- elsif curr_topic %}{% assign page_type = 'topic' %}{{curr_topic.title}}
{%- elsif curr_section %}{% assign page_type = 'section' %}{{curr_section.title}}
{%- elsif curr_part.long_title %}{% assign page_type = 'part' %}{{curr_part.long_title}}
{%- elsif curr_part %}{% assign page_type = 'part' %}{{curr_part.title}}
{%- else %}{% assign page_type = 'top' %}{{course_title}}
{%- endif %}
{% endcapture %}

[{{course_title}}](/)
{%- if curr_section %} / [{{curr_part.title}}](/{{curr_part.url}}){% endif %}
{%- if curr_topic or page_type == 'section_quiz' %} / [{{curr_section.title}}](/{{curr_part.url}}/{{curr_section.url}}){% endif %}
{%- if curr_topic and page_type == 'topic_quiz' %} / [{{curr_topic.title}}](/{{curr_part.url}}/{{curr_section.url}}/{{curr_topic.url}}){% endif %}
{%- if L3 == 'exercises' and curr_exercise %} / [Exercises](/{{curr_part.url}}/{{curr_section.url}}/{{curr_topic.url}}/exercises){% endif %}
{%- if L5 == 'solution' and curr_exercise %} / [{{curr_exercise.title}}](/{{curr_part.url}}/{{curr_section.url}}/{{curr_topic.url}}/exercises/{{curr_exercise.url}}){% endif %}

# {{title}}
