{% comment %}
#### prev
* prev_part: {{prev_part.title}}
* prev_section: {{prev_section.title}}, part={{prev_section_part.title}}
* prev_topic: {{prev_topic.title}}, part={{prev_topic_part.title}}, section={{prev_topic_section.title}}

#### curr

* curr_part: {{curr_part.title}}
* curr_section: {{curr_section.title}}
* curr_topic: {{curr_topic.title}}

#### next

* next_part: {{next_part.title}}
* next_section: {{next_section.title}}, part={{next_section_part.title}}
* next_topic: {{next_topic.title}}, part={{next_topic_part.title}}, section={{next_topic_section.title}}
{% endcomment %}

{% if curr_quiz == nil %}
    {% include topics.html %}
{% endif %}

{% if next_quiz and ((next_quiz_topic and next_quiz_topic.url == curr_topic.url) or (next_quiz_section and next_quiz_section.url == curr_section.url)) %}
%%practiceblock

## More practice

* [{{next_quiz.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}/{{curr_topic.url}}/{{next_quiz.url}})

%%/practiceblock
{% endif %}

{% if curr_topic %}
    {% if curr_topic.quizzes and curr_quiz == nil %}
%%practiceblock

## Practice

Complete the {% if curr_topic.quizzes.size != 1%}quizzes that cover{% else %}quiz that covers{% endif %} the contents of this topic.

        {%- for quiz in curr_topic.quizzes %}
* [{{quiz.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}/{{curr_topic.url}}/{{quiz.url}})
        {%- endfor %}
    {% endif %}
%%/practiceblock
{% else %}
    {% if curr_section.quizzes and curr_quiz == nil %}
%%practiceblock
## Practice

Complete the {% if curr_section.quizzes.size != 1%}quizzes that cover{% else %}quiz that covers{% endif %} the contents of this topic.

        {%- for quiz in curr_section.quizzes %}
* [{{quiz.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}/{{quiz.url}})
        {% endfor %}
%%/practiceblock
    {% endif %}
{% endif %}

## Course navigation

←
{%- if curr_topic %}
    {%- if prev_topic_section.url == curr_section.url %}
        [{{curr_section.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}) / [{{prev_topic.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}/{{prev_topic.url}})
    {%- else %}
        [{{curr_section.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}})
    {%- endif %}
{%- else %}
    [{{prev_section.title}}](/{{prefix}}/{{prev_section_part.url}}/{{prev_section.url}})
    {%- if prev_section.items.size != nil %}
        / [{{prev_section.items.last.title}}](/{{prefix}}/{{prev_section_part.url}}/{{prev_section.url}}/{{prev_section.items.last.url}})
    {%- endif %}
{%- endif %}
&nbsp;&nbsp;|&nbsp;&nbsp;
{%- if curr_topic %}
    {%- if next_topic_section.url == curr_section.url %}
        [{{curr_section.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}) / [{{next_topic.title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}/{{next_topic.url}})
    {%- else %}
        [{{next_section.title}}](/{{prefix}}/{{next_section_part.url}}/{{next_section.url}})
    {%- endif %}
{%- else %}
    {%- if curr_section.items.size != nil %}
        [{{curr_section.items[0].title}}](/{{prefix}}/{{curr_part.url}}/{{curr_section.url}}/{{curr_section.items[0].url}})
    {%- else %}
        [{{next_section.title}}](/{{prefix}}/{{next_section_part.url}}/{{next_section.url}})
    {%- endif %}
{%- endif %}
→