{% assign this_page = site.data.navigation | where: "url", page.url %}
{% assign this_page = this_page[0] %}

{% assign prev_page = site.data.navigation | where: "url", this_page.prev %}
{% assign prev_page = prev_page[0] %}

{% assign next_page = site.data.navigation | where: "url", this_page.next %}
{% assign next_page = next_page[0] %}

## Course navigation

←
{%- if prev_page.type == "exercise" %} Exercise:{% endif %}
[{{ prev_page.title }}]({{ prev_page.url }})
&nbsp;&nbsp;|&nbsp;&nbsp;
{%- if next_page.type == "exercise" %} Exercise:{% endif %}
[{{ next_page.title }}]({{ next_page.url }})
→

{% if curr_section.exercises and curr_section.items.last.url != curr_topic.url and curr_topic != nil %}
{%if curr_section.exercises.size != 1 %}
<br />
💪 Or jump directly [to the exercises to this section](/{{curr_part.url}}/{{curr_section.url}}/exercises).
{% else %}
<br />
💪 Or jump directly [to the exercise to this section](/{{curr_part.url}}/{{curr_section.url}}/exercises/{{curr_section.exercises[0].url}}).
{% endif %}
{% endif %}
