<style>
    /* body {
        background: #f5f5ea;
    }
    div.practice {
        padding: 0;
    } */
    span.yesno {
        font-family:'Courier New', Courier, monospace;
        font-size: 120%;
    }
    span.yes {
        font-family:'Courier New', Courier, monospace;
        color: #14be10;
        font-size: 120%;
    }
    span.no {
        font-family:'Courier New', Courier, monospace;
        color: #ec3030;
        font-weight: bold;
        font-size: 120%;
    }
    input.mono {
        font-family: monospace;
    }
    table.quiz,
    table.quiz-code,
    table.quiz tr,
    table.quiz-code tr,
    table.quiz tr td,
    table.quiz-code tr td {
        background-color: white;
        border: none;
    }
    table.quiz,
    table.quiz-code {
        background-color: white;
    }
    table.quiz tr,
    table.quiz-code tr {
        border: none;
    }
    table.quiz td,
    table.quiz-code td {
        border: none;
        background-color: white;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        padding: 0.3em 1em 0.3em 1em;
    }
    table.quiz tr td code,
    table.quiz-code tr td code,
    table.quiz tr td tt,
    table.quiz-code tr td tt {
        background-color: white !important;
    }
</style>

<script>
    document.querySelectorAll('table.quiz tr').forEach(function(item) {
        item.innerHTML = '<td><span class="yesno">&nbsp;</span></td>' + item.innerHTML;

        let cells = item.querySelectorAll('td');

        if (cells[1].innerHTML == '1') {
            cells[1].innerHTML = '<input type="checkbox" data-ok="1">';
        }
        else if (cells[1].innerHTML == '0') {
            cells[1].innerHTML = '<input type="checkbox" data-ok="0">';
        }

        if (cells.length > 3) {
            cells[3].style.display = 'none';
        }
    });

    document.querySelectorAll('table.quiz-code tr').forEach(function(item) {
        item.innerHTML = '<td><span class="yesno">&nbsp;</span></td>' + item.innerHTML;

        let cells = item.querySelectorAll('td');
        let answer = cells[1].innerHTML;
        cells[1].style.display = 'none';
        console.log(answer);

        cells[2].dataset.ok = answer;
        if (cells[2].innerHTML.indexOf('␣') != -1) {
            cells[2].innerHTML = cells[2].innerHTML.replace(/␣+/g, function(a, b) {
                let len = a.length;
                return '<input type="text" class="mono" style="width: ' + len + 'em; data-ok="' + answer + '"/>'
            });
        }
    });

    function checkquiz() {
        document.getElementById('ShowAnswers').style.display = 'none';

        document.querySelectorAll('table.quiz input[type="checkbox"]').forEach(function(item) {
            let is_correct = (item.checked && item.dataset.ok == 1) || (!item.checked && item.dataset.ok == 0);
            let row = item.parentElement.parentElement;
            // row.className = is_correct ? 'correct' : 'incorrect';

            row.querySelector('td').innerHTML = is_correct ? '<span class="yes">✓</span>' : '<span class="no">✘</span>';
        });
        document.querySelectorAll('table.quiz tr td').forEach(function(item) {
            item.style.display = '';
        });

        let show_correct_button = false;
        document.querySelectorAll('table.quiz-code tr td').forEach(function(item) {
            if (!item.dataset.ok) return;

            let inputs = item.querySelectorAll('input');
            if (!inputs.length) return;

            let answers = item.dataset.ok.split(' ');

            let correct = 0;
            for (let c = 0; c != answers.length; c++) {
                if (inputs[c].value == answers[c]) {
                    correct++;
                }
                else {
                    show_correct_button = true;
                    break;
                }
            }

            let is_correct = correct == answers.length;
            // item.parentElement.className = is_correct ? 'correct' : 'incorrect';

            item.parentElement.querySelector('td').innerHTML = is_correct ? '<span class="yes">✓</span>' : '<span class="no">✘</span>';
        });

        if (show_correct_button) {
            document.getElementById('ShowAnswers').style.display = '';
        }
    }

    function showanswers() {
        document.querySelectorAll('table.quiz-code tr td').forEach(function(item) {
            if (!item.dataset.ok) return;

            let inputs = item.querySelectorAll('input');
            if (!inputs.length) return;

            let answers = item.dataset.ok.split(' ');

            for (let c = 0; c != answers.length; c++) {
                inputs[c].value = answers[c];
            }

            item.parentElement.className = '';
        });
    }
</script>

<button onclick="checkquiz()">Check the answers</button>
<button onclick="showanswers()" id="ShowAnswers" style="display: none;">Show correct answers</button>
