<div markdown="1" style="margin-top: 2em; border-top: 1px solid lightgray; padding-top: 2em; font-size: 80%;">
{% if lang != "" %}
{% if human %}
{{strings.translations_human}} [{{strings.translations_original}}]({{url}}) {% if lang == "ru" %}[О переводе.](/ru/about-this-course/credits){% endif %}
{% else" %}
{{strings.translations_gpt}} [{{strings.translations_original}}]({{url}})
{% endif %}
{% endif %}

{{strings.translations_other}}: {%if lang == "" %}**English**{% else %}[English]({{url}}){% endif %} • {%if lang == "de" %}**Deutsch**{% else %}[Deutsch](/de{{url}}){% endif %} • {%if lang == "es" %}**Español**{% else %}[Español](/es{{url}}){% endif %} • {%if lang == "it" %}**Italiano**{% else %}[Italiano](/it{{url}}){% endif %} • {%if lang == "lv" %}**Latviešu**{% else %}[Latviešu](/lv{{url}}){% endif %} • {%if lang == "nl" %}**Nederlands**{% else %}[Nederlands](/nl{{url}}){% endif %} • {%if lang == "bg" %}**Български**{% else %}[Български](/bg{{url}}){% endif %} • {%if lang == "ru" %}**Русский**{% else %}[Русский](/ru{{url}}){% endif %} • {%if lang == "uk" %}**Українська**{% else %}[Українська](/uk{{url}}){% endif %}
</div>