span.yesno {
    font-family:'Courier New', Courier, monospace;
    font-size: 120%;
}
span.yes {
    font-family:'Courier New', Courier, monospace;
    color: #14be10;
    font-size: 120%;
}
span.no {
    font-family:'Courier New', Courier, monospace;
    color: #ec3030;
    font-weight: bold;
    font-size: 120%;
}
input.mono {
    font-family: monospace;
}
table.quiz,
table.quiz-code,
table.quiz-select,
table.quiz tr,
table.quiz-code tr,
table.quiz-select tr,
table.quiz tr td,
table.quiz-code tr td,
table.quiz-select tr td {
    /* background-color: #fffdeb; */
    background-color: white;
    border: none;
}
table.quiz,
table.quiz-code,
table.quiz-select {
    /* background-color: #fffdeb; */
    background-color: white;
}
table.quiz tr,
table.quiz-code tr,
table.quiz-select tr {
    border: none;
}
table.quiz td,
table.quiz-code td,
table.quiz-select td {
    border: none;
    /* background-color: #fffdeb; */
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0.3em 1em 0.3em 1em;
}
table.quiz tr td code,
table.quiz-code tr td code,
table.quiz-select tr td code,
table.quiz tr td tt,
table.quiz-code tr td tt,
table.quiz-select tr td tt {
    /* background-color: #fffdeb !important; */
    background-color: white !important;
}
table.quiz tr td.code,
table.quiz-code tr td.code,
table.quiz-select tr td.code {
    font-family: monospace;
    font-size: 95%;
}
table.quiz tr td.comment,
table.quiz-code tr td.comment,
table.quiz-select tr td.comment {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
table.quiz tr td.comment code,
table.quiz-code tr td.comment code,
table.quiz-select tr td.comment code {
    padding: 0;
}
table.quiz-code tr td {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
table.quiz-code tr td input {
    border: 1px solid lightgray;
    text-align: center;
}
/* div.practice {
    background-color: #fffdeb;
    background-color: white;
} */

table.quiz-code.nocode td.code {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
div.extended-explanation {
    display: none;
}
div.comment {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
